<a href="https://colab.research.google.com/github/cennetceylan19/PythonBootcampProject1/blob/main/Copy_of_Proje1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Bootcamp Project 1**
Merhaba, bu proje Global AIHub tarafından düzenlenen Python Bootcamp kapsamında yapmamız beklenen projenin ilkidir. 

"Bu projede bir öğrenci not sistemi oluşturacaksınız. Sizden istenilenler:

1.   Kendinize bir ders belirleyiniz. (Matematik,Fizik, Lineer Cebir vb.)
2. Not aralığınızı oluşturunuz (100-80 ⇒ A, 79-70 ⇒ B vb.)
3. Öğrenci Bilgilerini (Ad, Soyad, Okul No, sınav puanı) girebileceğiniz ve bu bilgilerin tutulabileceği bir sistem oluşturunuz.
4. Girilen bilgilerden yola çıkarak öğrencinin dersi geçip geçmediğini göstermesi gerekmektedir.
5. Öğrenci dersi geçti ise öğrencinin bilgilerinin tutulduğu alana “Geçti” yazısı, öğrenci dersi geçemedi ise “kaldı” yazısını göstermesi gerekmektedir.
6. Notları girilen öğrencilerden dersi geçenleri ve geçmeyenleri gösteren bir Dataframe oluşturunuz. 
7. Oluşturulan Dataframe’i Excel tablosuna dönüştürünüz."
 
 
 yukarda belirtilen isterler sonucunda bir not sistemi oluşturdum.

In [ ]:
print("Proje 1 Matematik dersi not hesaplama uygulaması")
kisi_sayisi=int(input("Giriş yapılacak öğrenci sayısını giriniz:"))
i=0
names = []
surnames = []
No = []
Puanlar = []
Durumlar = []

while i < kisi_sayisi:
  Ad = input("Adı:")
  Soyad = input("Soyadı:")
  OkulNumarası = input("Okul Numarası:")
  Puan = input("Sınav puanı:")
  names.append(Ad)
  surnames.append(Soyad)
  No.append(int(OkulNumarası))
  Puanlar.append(int(Puan))
  
  if 85 <= int(Puan) and int(Puan)<100:
      print("A")
      Durum = "Geçti"
      print(Durum)
  elif 70 <= int(Puan) and int(Puan)< 85:
      print("B")
      Durum= "Geçti"
      print(Durum)
  elif 55 <= int(Puan) and int(Puan)< 70:
      print("C")
      Durum = "Geçti"
      print(Durum)
  elif 45 <= int(Puan) and int(Puan)< 55:
      print("D")
      Durum = "Geçti"
      print(Durum)
  elif int(Puan)<45:
      print("F")
      Durum = "Kaldı"
      print(Durum)

  Durumlar.append(Durum)
  i+=1

dictionary = {"Ad" :names,
              "Soyad" :surnames,
              "Öğrenci Numarası" :No,
              "Not" :Puanlar,
              "Durumu" :Durumlar
                  }
  
print(dictionary)

Proje 1 Matematik dersi not hesaplama uygulamsı
Giriş yapılacak öğrenci sayısını giriniz:2
Adı:Cennet
Soyadı:Ceylan
Okul Numarası:1234
Sınav puanı:99
A
Geçti
Adı:Elanur
Soyadı:Ceylan
Okul Numarası:56987
Sınav puanı:88
A
Geçti
{'Adı': ['Cennet', 'Elanur '], 'Soyad': ['Ceylan', 'Ceylan'], 'No': [1234, 56987], 'Puan': [99, 88], 'Durumu': ['Geçti', 'Geçti']}

Girilen kişi sayısı ile not sistemine giriş sağlanmıştır. Kişi sayısını tamamlayana kadar döngü sağlanması için While kullanılmıştır. Kullanıcıdan öğrencilerin adı, soyadı, öğrenci numarası ve notu girilmesi istenmiştir. if ve elif koşullarıyla not durumu belirlenmiş öğrencinin geçme kalma durumu ifade edilmiştir. Öğrencinin adı, soyadı, öğrenci numarası, adldığı not ve geçme kalma durumları bir dictionary 'e aktarılmıştır.

In [ ]:
import pandas as pd

Pandas kullanılarak oluşturulan dictionary ile bir dataframe oluşturuldu. Oluşturulan dataframe excel dosyasına yüklendi. ve read komutu ile excel dosyasının okunması sağlandı.

In [ ]:
data = dictionary
df = pd.DataFrame(data)
print(df)
df.to_excel("Sınavbilgisi.xlsx")

       Adı   Soyad     No  Puan Durumu
0   Cennet  Ceylan   1234    99  Geçti
1  Elanur   Ceylan  56987    88  Geçti

In [ ]:
pd.read_excel("Sınavbilgisi.xlsx")

   Unnamed: 0      Adı   Soyad     No  Puan Durumu
0           0   Cennet  Ceylan   1234    99  Geçti
1           1  Elanur   Ceylan  56987    88  Geçti